# Database Configuration
DB_HOST=vh454.timeweb.ru
DB_USER=cs07791_siat
DB_PASSWORD=Vasya11091109
DB_NAME=cs07791_siat
DB_PORT=3306

# Server Configuration
PORT=5000
PUBLIC_DOMAIN=https://vasya010-belek-7b60.twc1.net
JWT_SECRET=your_jwt_secret_123

# S3 Configuration
S3_REGION=ru-1
S3_ENDPOINT=https://s3.twcstorage.ru
S3_ACCESS_KEY=GIMZKRMOGP4F0MOTLVCE
S3_SECRET_KEY=WvhFfIzzCkITUrXfD8JfoDne7LmBhnNzDuDBj89I
S3_BUCKET=a2c31109-3cf2c97b-aca1-42b0-a822-3e0ade279447

# SMTP Configuration (Gmail)
# Для Gmail используйте App Password (не обычный пароль)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=vasyakuzmenkoproger@gmail.com
SMTP_PASSWORD=jlphisqjvpshwmk
SMTP_CONNECTION_TIMEOUT=30000
SMTP_GREETING_TIMEOUT=15000
SMTP_SOCKET_TIMEOUT=30000
SMTP_DNS_TIMEOUT=10000

# SMTP Configuration для отправки паролей (тот же email, но другой пароль)
SMTP_PASSWORD_USER=vasyakuzmenkoproger@gmail.com
SMTP_PASSWORD_PASSWORD=ozjq ohzf irgr ysgr

# Admin User
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123

